pymongo==4.12.0
python-multipart==0.0.20
urllib3==2.4.0
uuid==1.30
uvicorn==0.34.2
fastapi==0.115.12
motor==3.7.0
pillow==11.2.1
pymongo==4.12.0
python-multipart==0.0.20
uuid==1.30
uvicorn==0.34.2
fastapi==0.115.12
motor==3.7.0
pillow==11.2.1
pydantic==2.11.3
pydantic_core==2.33.1
anyio==4.9.0
pydantic_core==2.33.1
anyio==4.9.0